body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Baloo Bhai', cursive;
  color: white;
  background-image: url('./asset/bg2.jpg');
}

.loading {
    max-width: 50%;
    line-height: 1.4;
    font-size: 2rem;
    text-align: center;
  }

.loading h1 {animation: yourAnimation 3s 1 0s ease-in-out;}

.loading__author {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(189,189,189 ,1);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loading__anim { animation: rotate 600ms infinite linear; width: 35px;  height: 35px;  display: inline-block;  border: 5px solid white;  border-left-color: #7DD181;  border-top-color: #7DD181; border-radius: 50%;}
@keyframes rotate { to {  transform: rotate(1turn) }}


@keyframes yourAnimation{
    0%{
        transform: translateY(-50%);
        opacity: 0;
        }
    50%{
        transform: translateY(-35%);
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx) translateY(-20%);
        opacity: 1;
        }
}
